<div class="container interna-sw">
    <div class="table-cand extern-sw" style="border-radius: 32;">
        <table id="candidatos-tab" class="responsive-table ">

            <tbody>
                <tr>
                    <td>Foto</td>
                    <td>nome</td>
                    <td>email@email.com</td>
                    <td>telefone</td>
                    <td>ubicação</td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>

                </tr>
                <tr>
                    <td>Foto</td>
                    <td>nome</td>
                    <td>email@email.com</td>
                    <td>telefone</td>
                    <td>ubicação</td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>

                </tr>
                <tr>
                    <td>Foto</td>
                    <td>nome</td>
                    <td>email@email.com</td>
                    <td>telefone</td>
                    <td>ubicação</td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>

                </tr>
                <tr>
                    <td>Foto</td>
                    <td>nome</td>
                    <td>email@email.com</td>
                    <td>telefone</td>
                    <td>ubicação</td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>

                </tr>
                <tr>
                    <td>Foto</td>
                    <td>nome</td>
                    <td>email@email.com</td>
                    <td>telefone</td>
                    <td>ubicação</td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>

                </tr>
                <tr>
                    <td>Foto</td>
                    <td>nome</td>
                    <td>email@email.com</td>
                    <td>telefone</td>
                    <td>ubicação</td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>

                </tr>
                <tr>
                    <td>Foto</td>
                    <td>nome</td>
                    <td>email@email.com</td>
                    <td>telefone</td>
                    <td>ubicação</td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>

                </tr>
                <tr>
                    <td>Foto</td>
                    <td>nome</td>
                    <td>email@email.com</td>
                    <td>telefone</td>
                    <td>ubicação</td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>

                </tr>
                <tr>
                    <td>Foto</td>
                    <td>nome</td>
                    <td>email@email.com</td>
                    <td>telefone</td>
                    <td>ubicação</td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>

                </tr>
                <tr>
                    <td>Foto</td>
                    <td>nome</td>
                    <td>email@email.com</td>
                    <td>telefone</td>
                    <td>ubicação</td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>

                </tr>
                <tr>
                    <td>Foto</td>
                    <td>nome</td>
                    <td>email@email.com</td>
                    <td>telefone</td>
                    <td>ubicação</td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>

                </tr>
                <tr>
                    <td>Foto</td>
                    <td>nome</td>
                    <td>email@email.com</td>
                    <td>telefone</td>
                    <td>ubicação</td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>

                </tr>
                <tr>
                    <td>Foto</td>
                    <td>nome</td>
                    <td>email@email.com</td>
                    <td>telefone</td>
                    <td>ubicação</td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>

                </tr>
                <tr>
                    <td>Foto</td>
                    <td>nome</td>
                    <td>email@email.com</td>
                    <td>telefone</td>
                    <td>ubicação</td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>

                </tr>
                <tr>
                    <td>Foto</td>
                    <td>nome</td>
                    <td>email@email.com</td>
                    <td>telefone</td>
                    <td>ubicação</td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>

                </tr>
                <tr>
                    <td>Foto</td>
                    <td>nome</td>
                    <td>email@email.com</td>
                    <td>telefone</td>
                    <td>ubicação</td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>

                </tr>
                <tr>
                    <td>Foto</td>
                    <td>nome</td>
                    <td>email@email.com</td>
                    <td>telefone</td>
                    <td>ubicação</td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>

                </tr>
                <tr>
                    <td>Foto</td>
                    <td>nome</td>
                    <td>email@email.com</td>
                    <td>telefone</td>
                    <td>ubicação</td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>
                    <td><span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span></td>

                </tr>


            </tbody>
        </table>
    </div>
</div>