<div class="fondo" onload="select()">
    <div class="fondo_1">
        <input (click)="goBack()" type="image" src="../../../assets/img/arrow-left.svg" class="btn_return" alt="arrow-left">
    </div>

    <div class="card">
        <div class="img-position">
            <img [src]="photo" [alt]="candidato.name.first" class="img-border">
        </div>
        <div class="fondo_3">

        </div>
        <div class="container">
            <div class="text-title">
                <h4><b>{{info.title}}</b></h4>

            </div>
            <div class="subtitle">
                <p class="mat-body text-subtitle">{{ (first) ? (info.value | titlecase) : ( itenSeect == 'co' ) ? (info.value | titlecase) :info.value }}</p>
            </div>
            <div class="pos-buttons">
                <div class="row">
                    <div (mouseenter)="select('co')" [class]=" (first) ? 'col-2 item-select' : ( itenSeect == 'co' ) ? 'col-2 item-select' : 'col-2 item-cand' ">
                        <span class="fa fa-2x fa-user-o" data-glyph="trash" title="trash" aria-hidden="true"></span>
                    </div>
                    <div (mouseenter)="select('en')" [class]=" ( itenSeect == 'en' ) ? 'col-2 item-select' : 'col-2 item-cand' ">
                        <span class="fa fa-2x fa-envelope-o " data-glyph="trash" title="trash" aria-hidden="true"></span>
                    </div>
                    <div (mouseenter)="select('ca')" [class]=" ( itenSeect == 'ca' ) ? 'col-2 item-select' : 'col-2 item-cand' ">
                        <i class="fa  fa-2x fa-calendar-o "></i>
                    </div>
                    <div (mouseenter)="select('ma')" [class]=" ( itenSeect == 'ma' ) ? 'col-2 item-select' : 'col-2 item-cand' ">
                        <i class="fa  fa-2x fa-map-o "></i>
                    </div>
                    <div (mouseenter)="select('ph')" [class]=" ( itenSeect == 'ph' ) ? 'col-2 item-select' : 'col-2 item-cand' ">
                        <i class="fa  fa-2x fa-volume-control-phone"></i>
                    </div>
                    <div (mouseenter)="select('ke')" [class]=" ( itenSeect == 'ke' ) ? 'col-2 item-select' : 'col-2 item-cand' ">
                        <i class="fa  fa-2x fa-key"></i>
                    </div>


                </div>
            </div>

        </div>
    </div>

</div>