.fondo {
  position: fixed;
  background-color: #ebebeb;
  left: -18%;
  width: 118%;
  height: 138%;
}
.fondo_1 {
  background-color: #2c3e50;
  position: fixed;
  width: 119%;
  height: 51%;
}
.fondo_3 {
  background-color: #f2f2f2;
  position: absolute;
  width: 100%;
  height: 30%;
  border-bottom: 2px solid #dfdfdf;
  z-index: 1;
}
.card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 700px;
  width: 52%;
  height: 509px;
  top: 11%;
  left: 33%;
}
.card img {
  border-radius: 100%;
  max-width: 192px;
  width: 37%;
  height: auto;
}
.pos-buttons {
  position: relative;
  padding: 49px 72px;
}
.img-border {
  width: 33%;
  height: auto;
  padding: 2px;
  vertical-align: middle;
  border-style: ridge;
}
.item-cand {
  filter: opacity(0.4);
}
.item-cand:hover {
  color: #c6d511;
  box-shadow: #2c3e50;
  filter: opacity(0.8);
  transition: 0.3s;
}
.item-select {
  color: #c6d511;
  box-shadow: #2c3e50;
  filter: opacity(0.8);
  transition: 0.3s;
}
.img-position {
  position: relative;
  text-align: center;
  top: 5%;
  z-index: 9;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
  position: absolute;
  top: 48%;
  left: 1%;
  padding: 2px 16px;
  text-align: center;
}
.text-title {
  position: relative;
  font-family: sans-serif;
  font-weight: lighter;
  color: darkgray;
  -webkit-font-smoothing: antialiased;
  top: 17px;
}
.text-subtitle {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: xx-large;
  color: #747272;
}
.subtitle {
  position: relative;
}
.btn_return {
  position: relative;
  top: 7%;
  left: 18%;
  width: 40px;
  height: 40px;
  border-radius: 31px;
  border-color: transparent;
  background-color: cornsilk;
}
img {
  width: auto;
  height: 60%;
}
.info_can {
  position: relative;
  text-align: center;
}
