<!-- <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
</div>
<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
</div> -->

<!-- <div id="menu">
    <ul>
        <li><a class="text-center" href="#" title="...">Home</a></li>
        <li><a class="text-center" href="#" title="...">Archivos</a></li>
        <li><a class="text-center" href="#" title="...">Enlaces</a></li>
        <li><a class="text-center" href="#" title="...">Acerca de</a></li>
    </ul>
</div> -->

<!-- <div class="vertical-menu">
    <a href="#" class="active">Home</a>
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
    <a href="#">Link 4</a>
</div> -->

<!-- A vertical navbar -->
<div *ngIf="url != '/candidato'">
    <nav class="navbar">

        <!-- Links -->
        <ul class="navbar-nav vertical-menu">
            <li class="nav-item">
                <a [class]="(getUrl('/todos')) ? 'nav-link n-select':'nav-link'" [routerLink]="['todos']">&nbsp;&nbsp;&nbsp;&nbsp; <span class="oi" data-glyph="list" title="list" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp; Todos</a>
            </li>
            <li class="nav-item">
                <a [class]="(getUrl('/atendidos')) ? 'nav-link n-select':'nav-link'" [routerLink]="['atendidos']">&nbsp;&nbsp;&nbsp;&nbsp;<span class="oi" data-glyph="check" title="check" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp; Atendidos</a>
            </li>
            <li class="nav-item">
                <a [class]="(getUrl('/lixeira')) ? 'nav-link n-select':'nav-link'" [routerLink]="['lixeira']">&nbsp;&nbsp;&nbsp;&nbsp;<span class="oi" data-glyph="trash" title="trash" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp; Lixeira</a>
            </li>
        </ul>

    </nav>

</div>